body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

:root {
  --sec: rgba(255, 204, 0, 1);
  --pri: rgba(35, 17, 97, 1);
}

.bg-trans {
  background-color: transparent;
}

.pri {
  color: var(--pri)
}

.bg-pri {
  background-color: var(--pri)
}

.b--pri {
  border-color: var(--pri)
}

.sec {
  color: var(--sec)
}

.bg-sec {
  background-color: var(--sec)
}

.b--sec {
  border-color: var(--sec)
}

.trans {
  transition: all 0.2s ease-in-out
}

.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 1000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -moz-animation-name: spin;
  -moz-animation-duration: 1000ms;
  -moz-animation-iteration-count: infinite;
  -moz-animation-timing-function: linear;
  -ms-animation-name: spin;
  -ms-animation-duration: 1000ms;
  -ms-animation-iteration-count: infinite;
  -ms-animation-timing-function: linear;
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@-moz-keyframes spin {
  from { -moz-transform: rotate(0deg); }
  to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
  from { -webkit-transform: rotate(0deg); }
  to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.guitar {
  display: flex;
  position: relative;
  height: 40vh;
  width: 100%;
}

.guitar-circle {
  position: relative;
  height: 80%;
  aspect-ratio: 1 / 1;
  background: black;
  align-self: center;
  margin: 0 auto;
  border-radius: 50%;
}

.guitar-circle::after {
  position: absolute;
  content: "";
  width: calc(100% - 40px);
  height: calc(100% - 40px);
  left: 10px;
  top: 10px;
  border: 10px solid white;
  border-radius: 50%;
}

.guitar-strings {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 0;
  top: 15%;
  width: 100%;
  height: 70%;
}

.guitar-string {
  width: 100%;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(23, auto);
  cursor: pointer;
  margin: 10px 0;
}

.guitar-note:hover {
  opacity: 1;
}

.guitar-note:hover .note-name {
  display: flex;
}

.guitar-note {
  background:#cd7f32;
  opacity: 0.5;
  border-right: 1px solid white;
  position: relative;
}

.note-name {
  display: none;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 35px;
  height: 35px;
  left: calc(50% - 17px);
  bottom: calc(100% + 5px);
  border-radius: 50%;
  background: chocolate;
  color: white;
}


.flute-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.flute-svg {
  transform: rotate(30deg);
}

.flute-note {
  cursor: pointer;
  opacity: 0.5;
}

.flute-note:hover {
  opacity: 1;
}